@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center flex-box">
  <h1 class="display-4">Entity Search Example</h1>

  <div class="box">
    <form asp-page-handler="create" method="post">
      <h3 class="heading">Create Todo</h3>
      <label class="form-field">WeekDay:</label><br>
      <select required class="form-field" name="weekday">
        <option value="0">Monday</option>
        <option value="1">Tuesday</option>
        <option value="2">Wednesday</option>
      </select>
      
      <label class="form-field">Name:</label><br>
      <input required class="form-field" type="text" name="name"><br>
      
      <label class="form-field">Done:</label><br>
      <input class="form-field" type="checkbox" name="done"><br><br>
      
      <label class="form-field">SomeValue:</label><br>
      <input required class="form-field" type="number" name="somevalue"><br><br>
      
      <input class="form-field" type="submit" value="Create Todo">
    </form>
  </div>

  <div class="box">
    <form asp-page-handler="filter" method="post">
      <h3 class="heading">Filter Todos</h3>

      <div class="filter-form-field">
        <div style="width: 150px">
          <label class="form-field">Filter by this field:</label><br>
          <input class="form-field" type="checkbox" name="weekdayequalson"><br><br>
        </div>

        <div style="width: 350px">
          <label class="form-field">WeekDay equals:</label><br>
          <select class="form-field" name="weekdayequals">
            <option value="0">Monday</option>
            <option value="1">Tuesday</option>
            <option value="2">Wednesday</option>
          </select>
        </div>
      </div>

      <div class="filter-form-field">
        <div style="width: 150px">
          <label class="form-field">Filter by this field:</label><br>
          <input class="form-field" type="checkbox" name="namecontainson"><br><br>
        </div>

        <div style="width: 350px">
          <label class="form-field">Name contains:</label><br>
          <input class="form-field" type="text" name="namecontains"><br>
        </div>
      </div>

      <div class="filter-form-field">
        <div style="width: 150px">
          <label class="form-field">Filter by this field:</label><br>
          <input class="form-field" type="checkbox" name="doneequalson"><br><br>
        </div>

        <div style="width: 350px">
          <label class="form-field">Done equals:</label><br>
          <input class="form-field" type="checkbox" name="doneequals"><br><br>
        </div>
      </div>

      <div class="filter-form-field">
        <div style="width: 150px">
          <label class="form-field">Filter by this field:</label><br>
          <input class="form-field" type="checkbox" name="somevaluelessthanon"><br><br>
        </div>

        <div style="width: 350px">
          <label class="form-field">SomeValue less than:</label><br>
          <input class="form-field" type="number" name="somevaluelessthan"><br><br>
        </div>
      </div>

      <div class="filter-form-field">
        <div style="width: 150px">
          <label class="form-field">Filter by this field:</label><br>
          <input class="form-field" type="checkbox" name="somevaluegreaterthanon"><br><br>
        </div>

        <div style="width: 350px">
          <label class="form-field">SomeValue greater than:</label><br>
          <input class="form-field" type="number" name="somevaluegreaterthan"><br><br>
        </div>
      </div>

      <div class="filter-form-field">
        <div style="width: 150px">
          <label class="form-field">Sort descending:</label><br>
          <input class="form-field" type="checkbox" name="sortdescending"><br><br>
        </div>

        <div style="width: 350px">
          <label class="form-field">Sort by:</label><br>
          <select class="form-field" name="sortby">
            <option value="Id">Id</option>
            <option value="Name">Name</option>
            <option value="CreatedAt">Created at</option>
          </select>
        </div>
      </div>
      
      <input class="form-field" type="submit" value="Filter">
    </form>
  </div>

  <div>
    <h3 class="heading">Todos</h3>
    <table>
      <tr>
        <th>Id</th>
        <th>WeekDay</th>
        <th>Name</th>
        <th>Done</th>
        <th>SomeValue</th>
        <th>CreatedAt</th>
      </tr>
      @for (var i = 0; i < Model.Todos.Length; i++)
      {
          var todo = Model.Todos[i];
          <tr>
            <td>@todo.Id</td>
            <td>@todo.WeekDay</td>
            <td>@todo.Name</td>
            <td>@todo.Done</td>
            <td>@todo.SomeValue</td>
            <td>@todo.CreatedAt</td>
          </tr>
      }
    </table>
  </div>
</div>
